//Colors
$c-white: #ffffff;
$c-black: #000000;
$c-blackLight: #101a1d;
$c-blackLightTransparent: rgba(16, 26, 29, 0.5);
$c-red: rgb(49, 2, 2);

$c-blackLightest: #010005;
$c-bgLineTransparent: rgba(0, 0, 0, 0.2);
$c-jade: #42727e;
$c-default: #f4f4f4;
$c-grey: #e5e5e5;
$c-greyLight: #c4c4c4;

// Font
$f-montserrat: "montserrat";

// Font size
$fs-base: 16;
