mixin card-icon(args)

  .c-card-icon
    .c-card-icon__wrapper
      .c-card-icon__ellipse 
        svg(class="icon icon-ellips") 
          use(xlink:href="#icon-ellips")
      .c-card-icon__filter
        .c-card-icon__filter__wrapper
          svg(class="icon icon-filter") 
            use(xlink:href="#icon-filter")
