mixin features(args)

  .c-features 
    +title({dataTitle: "fourth-level", content: "FEATURES", classList: "e-title--small e-title--margin"})
    .c-features__wrapper 
      .c-features__item.activeBtnFilter 
        span.c-features__item__text Some text
      .c-features__item 
        span.c-features__item__text Some text