mixin pointers(args)

	.c-pointers(id="pointers")
		.c-pointers__wrapper 
			.c-pointers__left-top
			.c-pointers__center-top 
			.c-pointers__right-top 
			.c-pointers__left-bottom 
			.c-pointers__center-bottom 
			.c-pointers__right-bottom