mixin input(args)
	- let classList = args.classList;
	- let type      = args.type;
	- let value     = args.value;
	- let name      = args.name;
	- let id        = args.id;

	input.e-input(class= classList, type= type, value= value, name= name, id= id)